<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/resources/css/generic.css" />
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/accounts/forgetPassword}" method="post">

            <p class="message" th:utext="${message}"></p>
            <input id="email" name="email" type="email" placeholder="email"/>
            <button type="submit">send password recovery gmail</button>

        </form>
    </div>
</div>
</body>
</html>