<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/resources/static/css/generic.css}" />
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Welcome</h1>

        <p class="message">Want to enter your Home Page? <a th:href="@{/profile}">Visit Profile</a></p>
        <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>

        <p class="message">Need service? <a th:href="@{/register}">Create an account</a></p>
        <p class="message">Want to provide service? <a th:href="@{/resume}">Submit your resume</a></p>


    </div>
</div>
</body>
</html>