<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> ثبت نام کارفرما</title>

    <link rel="stylesheet" th:href="@{/resources/static/css/semantic/semantic.css}"/>
    <link rel="stylesheet" th:href="@{/resources/static/css/generic.css}"/>
    <link rel="stylesheet" th:href="@{/resources/static/css/register.css}"/>

    <script th:src="@{/resources/static/static/js/jquery.min.js}"></script>
    <script th:src="@{/resources/static/js/semantic.min.js}"></script>
    <script th:src="@{/resources/static/js/register.js}"></script>

</head>
    <body>
    <div th:replace="fragments :: header"></div>
    <div class="ui container centered">
        <div class="ui masthead center aligned segment">
            <h1 class="center">ثبت نام به عنوان نیازمند خدمت / خدمت دهنده</h1>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment sign-up">
            <form class="ui big stackable form " action="/" th:action="@{/register}" th:object="${employer}" method="post">
                <h2 class="ui dividing header">اطلاعات</h2>
                <div class="two fields ">
                    <div class="field ">
                        <input type="text" name="firstName" th:field="*{firstName}" placeholder="نام"/>
                    </div>
                    <div class="field">
                        <input type="text" name="lastName" th:field="*{lastName}" placeholder="نام خانوادگی" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="email" th:field="*{email}" placeholder="آدرس ایمیل" />
                    </div>
                    <div class="field">
                        <input type="password" name="password" th:field="*{password}" placeholder="رمز عبور" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="phoneNo" th:field="*{number}" placeholder="تلفن تماس" />
                    </div>
                    <div class="field">
                        <input type="text" name="postalCode" th:field="*{postalCode}" placeholder="کد پستی" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="three wide field">
                        <input type="text" name="city" th:field="*{city}" placeholder="شهر" />
                    </div>
                    <div class="thirteen wide field">
                        <input type="text" name="address" th:field="*{address}" placeholder="آدرس" />
                    </div>
                </div>

                <h2 class="ui dividing header">جنسیت</h2>
                <div class="inline fields">
                    <div class="field" th:each="gender,iter : ${T(com.care.model.enums.Gender).values()}">
                        <div class="ui radio checkbox">
                            <input type="radio" th:field="*{gender}" name="sexuality" th:value="${gender}" />
                            <label  th:text="${gender == T(com.care.model.enums.Gender).Male} ? مرد : زن"></label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="ui large teal button  left floated" id="submit-btn">ثبت نام</button>
                <a th:href="@{/}" class="ui large inverted teal button ">انصراف</a>
            </form>

        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>