<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>جستجو</title>

    <link rel="stylesheet" th:href="@{/resources/static/css/semantic/semantic.css}"/>
    <link rel="stylesheet" th:href="@{/resources/static/css/generic.css}"/>
    <link rel="stylesheet" th:href="@{/resources/static/css/search.css}"/>

    <script th:src="@{/resources/static/static/js/jquery.min.js}"></script>
    <script th:src="@{/resources/static/js/semantic.min.js}"></script>
    <script th:src="@{/resources/static/js/search.js}"></script>
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div class="ui container site-context">
        <div class="ui segment">
            <div class="ui huge header">
                جست و جو
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <!-- search choices -->
                <div class="six wide column">
                    <div class="container back-grey">
                        <form class="ui form">
                            <div class="inline fields">
                                <div class="four wide field">
                                    <label>نوع کار</label>
                                </div>
                                <div class="twelve wide field">
                                    <div class=
                                                 "ui fluid search selection dropdown">
                                        <input type="hidden" name="job" value="kp" />
                                        <input class="search" />
                                        <div class="default text">
                                            شغل مورد نیاز
                                        </div>
                                        <div class="menu">
                                            <div class="item">
                                                پرستاری از افراد مسن
                                            </div>
                                            <div class="item">
                                                پرستاری از فرزندان
                                            </div>
                                            <div class="item">
                                                خدمات منزل
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="four wide field">
                                    <label>نوع انجام کار</label>
                                </div>
                                <div class="twelve wide field">
                                    <div class=
                                                 "ui fluid search selection dropdown">
                                        <input type="hidden" name="job" value="kp" />
                                        <input class="search" />
                                        <div class="default text">
                                            نوع انجام کار
                                        </div>
                                        <div class="menu">
                                            <div class="item">
                                                یک روز در تاریخ مشخص
                                            </div>
                                            <div class="item">
                                                تکرار شونده
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="four wide field">
                                    <label>زمان شروع</label>
                                </div>
                                <div class="twelve wide field">
                                    <!--TODO persian calender-->
                                    <input type="month" placeholder=
                                            "Middle Name" />
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="four wide field">
                                    <label>حقوق</label>
                                </div>
                                <div class="twelve wide field">
                                    <input type="text" />
                                </div>
                            </div>
                        </form>
                        <div class="actions">
                            <div class="ui approve button fluid">جستجو</div>
                        </div>
                    </div>
                </div>

                <!-- results -->
                <div class="ten wide column">
                    <div th:each="availableJob : ${allAvailableJobs}" class="ui raised link purple card card-width">
                        <div class="content">
                            <div class="meta left floated">2 days ago</div>
                            <div th:text="${availableJob.title}" class=" header"></div>
                            <div class="meta">
                                <span class="category">اطلاعات ثبت شده درباره کار</span>
                            </div>
                            <div class="description">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="four wide column">
                                            <div class="ui medium header teal">نوع کار</div>
                                        </div>
                                        <div class="four wide column">
                                            <div class="ui medium header teal">زمان شروع</div>
                                        </div>
                                        <div class="five wide column">
                                            <div class="ui medium header teal">حقوق</div>
                                        </div>
                                        <div class="three wide column">
                                            <div class="ui medium header teal">علاقه مندید ؟</div>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="four wide column">
                                            <div th:text="${availableJob.type}" class="ui small header grey">نوع کار</div>
                                        </div>
                                        <div class="four wide column">
                                            <div class="ui small header grey">زمان شروع</div>
                                        </div>
                                        <div class="five wide column">
                                            <div th:text="${availableJob.pay}" class="ui small header grey">حقوق</div>
                                        </div>
                                        <div class="three wide column">
                                            <a>
                                                <button th:onclick="'javascript:viewJob(\'' + ${availableJob.id} +'\');'" class="ui button fluid" id="sbm-btn">درخواست</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui avatar image"
                                     th:src="${availableJob.employer.profilePictureUrl()}"
                                     th:utext="' '+${availableJob.employer.firstName}+' '+${availableJob.employer.lastName}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal holder-->

    <div id="modalHolder">

    </div>

    <!-- success modal -->

    <div class="ui tiny success-modal coupled modal" id="miniModal">
        <div class="content">
            <div class="description">
                <h2>درخواست شما با موفقیت به "نام" ارسال شد</h2>
                <br/>
                <span>زمان و نوع درخواست</span>
            </div>
        </div>
        <div class="actions">
            <button class="ui grey cancel button" id="cls-btn-modal">بستن</button>
        </div>
    </div>

    <script th:inline="javascript" type="text/javascript">

        function viewJob(id) {
            $.ajax({
                url: "/caregiver/view/job/" + id,
                success: function(response) {
                    $('#modalHolder').html(response);
                    $('#modal').modal('show');
                    $('.coupled.modal')
                        .modal({
                            allowMultiple: false
                        })
                    ;
                    $('.success-modal.modal')
                        .modal('attach events', '.first.modal #sbt-btn-modal')
                    ;
                    $('#miniModal').modal({
                        onHidden: function(){
                            $('#modal').remove();
                        }
                    })
                }
            });
        }

        var serverContext = [[@{/}]];
        function sendRequest(id) {
            var requestInfo = $("#requestInfo").val();
            console.log(requestInfo);
            $.post(serverContext+"caregiver/send/request", {id : id , requestInfo : requestInfo});
        }

    </script>

    <div th:replace="fragments :: footer"></div>

</body>
</html>